body{
  height: 100vh;
}

.col,.col-2, .col-3, .col-4, .col-6, .col-8{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size:cover;
  background-repeat:no-repeat;
  cursor: pointer;
}

.carousel{
  bottom: 0;
  width: 100%;
}

img:hover{
  filter: grayscale(100%);
}