.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar div {
  color: black;
  padding: 10px;
  text-decoration: none;
}
 
.sidebar div.active {
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  /* height: 1000px; */
}

/* @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar div {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar div {
    text-align: center;
    float: none;
  }
} */